<template>
  <div>
    <div class="overflow-x-auto w-full">
      <div v-for="photo in compareList" :key="photo.id">
        <div class="flex items-center justify-between border-2 mx-10 my-10">
          <div>
            <img :src="photo.url" alt="" class="h-32" />
          </div>
          <div class="flex items-center justify-center w-12">
            {{ photo.id }}
          </div>
          <div>{{ photo.url }}</div>
          <div class="w-80">{{ photo.title }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'compare-table',

  computed: {
    ...mapState(['compareList']),
  },
};
</script>
