<template>
  <div>
    <div class="container mx-auto flex max-w-7xl flex-col">
      <PhotoList :photos="{ photos }" />
      <div>
        <CompareTable />
      </div>
    </div>
  </div>
</template>

<script>
import store from '@/store';
import { mapState } from 'vuex';
import PhotoList from './PhotoList.vue';
import CompareTable from './CompareTable.vue';

export default {
  name: 'home-index',
  computed: {
    ...mapState(['photos']),
  },
  mounted() {
    store.dispatch('getPhotos');
  },
  components: { PhotoList, CompareTable },
};
</script>
