<template>
  <div
    class="bg-slate-300 w-56 h-80 flex flex-col items-center rounded-md shadow-lg"
  >
    <img :src="photo.url" class="h-36 flex mx-auto mt-2" />
    <div class="py-3">{{ photo.id }}</div>
    <div class="flex justify-center h-5 overflow-hidden mx-auto">
      {{ photo.title }}
    </div>
    <button
      class="px-4 py-2 mt-2 rounded-sm text-white"
      :class="isInCompareList(photo.id) ? 'bg-red-400' : 'bg-green-400'"
      @click="isInCompareList(photo.id) ? remove(photo.id) : compare(photo.id)"
    >
      {{ isInCompareList(photo.id) ? 'Remove' : 'Compare' }}

      <!-- {{ isInCompare }} -->
    </button>
  </div>
</template>

<script>
import store from '@/store';
import { mapGetters } from 'vuex';
export default {
  name: 'photo-item',
  props: ['photo'],
  methods: {
    compare: function (id) {
      store.dispatch('addToCompare', id);
    },
    remove: function (id) {
      store.dispatch('removeFromCompare', id);
    },
  },
  computed: {
    ...mapGetters(['isInCompareList']),
  },
};
</script>

<style></style>
