<template>
  <div
    class="px-10 w-full gap-8 mx-auto max-w-7xl grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2"
  >
    <section v-for="photo in photos.photos" :key="photo.id" class="flex">
      <PhotoItem :photo="photo" />
    </section>
    <!-- </div> -->
    <!-- </vue-horizontal> -->
  </div>
</template>

<script>
import PhotoItem from './PhotoItem.vue';
// import VueHorizontal from 'vue-horizontal';

export default {
  name: 'photo-list',
  props: ['photos'],
  components: { PhotoItem },
};
</script>

<style scoped>
.horizontal >>> .v-hl-btn-prev svg {
  background: red;
  color: white;
  border-radius: 0;
}

.horizontal >>> .v-hl-btn-next {
  top: 0;
  bottom: 0;
  transform: translateX(0);
}

.replaced-btn {
  height: 100%;
  background: linear-gradient(to right, #ffffff00, white);
  padding-left: 48px;
  display: flex;
  align-items: center;
}

.replaced-btn > div {
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  color: black;
  padding: 8px 12px;
  background: white;
  border-radius: 3px;
  border: 1px solid black;
}
</style>
